#buttons {
  position: absolute;
  display: none;
  padding: 20px;
  margin: 20px;
}
.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  display: flex;
  flex-wrap: wrap;
  background-color: #1d0f42;
  color: lightblue;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 20px;
}
.sub {
  display: flex;
  flex-wrap: wrap;
  background-color: #1d0f42;
  color: lightblue;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 20px;
}
.subButton {
  display: none;
}
.subButton.ativo {
  display: block;
}
.btn:hover {
  background-color: aqua;
}
