#buttons {
  position: absolute;
  display: none;
  padding: 20px;
  margin: 20px;
}
.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#buttons button {
  display: flex;
  flex-wrap: wrap;
  background-color: #1d0f42;
  color: lightblue;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 20px;
}
.subButton button {
  display: flex;
  flex-wrap: wrap;
  background-color: #1d0f42;
  color: lightblue;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 20px;
}
.subButtons {
  display: flex;
  flex-wrap: wrap;
}
.subButton {
  display: none;
}
.subButton.ativo {
  display: flex;
  position: absolute;
  margin-left: -440px;
}
